.create-action-contaier {
    display: none;
}
.Create-Action-student {
    display: none;
}
.Create-Action-vendor {
    display: none;
}
.alert {
    display: none;
}
.add-money-container{
    display: none;
}